<div *ngIf="form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mt-3 mb-3">
      <app-text-input type="text" id="userName" formControlName="userName" [label]="'Login'"></app-text-input>
    </div>
    <div class="mt-3 mb-3">
      <app-text-input type="password" id="Password" formControlName="password" [label]="'Password'"></app-text-input>
    </div>
    <div class="mt-3 mb-3" *ngIf="error && !hasProcessed">
      {{error?.error}}
    </div>
    <div>
      <button type="submit" [disabled]="form.invalid || hasProcessed">Submit</button>
    </div>
  </form>
</div>
